<footer class="credits text-center py-16 px-8 clear-both">
  <div class="line-behind-text border-b border-neutral-900 text-center w-1/5 min-w-[200px] mx-auto mb-10">
    <h2 class="bg-white text-neutral-900 inline-block text-base px-2.5 relative top-3.5 uppercase">
      END
    </h2>
  </div>

  <p class="copy text-neutral-900 font-display font-light text-sm">
    Kyle Langford 2021
  </p>
</footer>
